/* CSS reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}

/* CSS */

/* universal styles */
*{
    /* border: 1px red solid; */
    font-family: 'Kaisei Decol', serif;
}

/* header */

header{
    background-color:#E5E8E8;
    padding:2%;
}

.name{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 15px;
    font-size: 35px;
}

.links a{
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 5px;
    padding:5px;
    display: inline-block;
    color: black;
    letter-spacing: 10px;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    background: whitesmoke;
    font-weight: bold;
}

/* the main content w/my picture & info about me */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.left{
    width:45%;
}
.right{
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left img{
    width: 500px;
    height: auto;
    margin: 2%;
}
.me{
    padding: 10%;;
}

.right h2{
    letter-spacing: 10px;
    font-weight: bolder;
    text-align: center;
    line-height: 4;
}

.right .me .links{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right p{
    text-align: center;
}

/* the main content w/pictures of projects */
.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-content img{
    width: auto;
    height: 50vh;
}

.main-content div{
    margin:10px;
}

.main-content p{
    text-align: center;
}

/* footer/ending stuff */
footer{
    background-color:#E5E8E8;
    padding:2%;
    margin-top: 2%;
    text-align: center;
}

/* media queries */
/* for tablet */
@media(max-width:800px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .left{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .left img{
        width:340px;
        height:90vh;
    }
    .right h2{
        text-align: center;
        line-height:3;
    }
    .right p{
        text-align: center;
    }
    .main-content{
        margin-top: 0;
    }
}
/* for phone */
@media(max-width:500px){
    nav, .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .left{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .left img{
        width:70%;
        height:90vh;
    }
    .right{
        width:100%;
    }
    .right h2{
        line-height: 3;
    }
    .me p{
        text-align: center;
    }
}
