/* CSS reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

/* CSS */

/* universal styles */
*{
    border: 1px red solid;
}
body{
    font-family: 'Kaisei Decol', serif;
    
}

/* header */

header{
    background-color:#E5E8E8;
    padding:2%;
}


.name{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 15px;
    font-size: 35px;
}
nav a{
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 5px;
    padding:5px;
    display: inline-block;
    color: black;
    text-decoration: none;
    letter-spacing: 10px;
    text-align: center;
}

nav a:hover{
    background: whitesmoke;
    font-weight: bold;
}

/* the main content w/my picture & info about me */
.main{
    
}

footer{
    background-color:#E5E8E8;
    padding:2%;
    margin-top: 2%;
    text-align: center;
}
/* 
.left{
   
}

.image1 img{
    
    margin-left: 5%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name2{
    text-align: center;
    letter-spacing: 4px;
    padding: 5%;
}

.nav2{
    text-align: center;
}
.info{
    text-align: left;
    padding:5%;
}

/* the main content w/pictures of projects
 .gallery{
    display:flex;
    flex-wrap:wrap;
    margin-top: 2%;
    padding: 2%;
    max-width:100%;
}

.gallery div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    padding: 0.5%;
}

.gallery img{
    max-width:100%;
    height:40vh;
}

.p{
    text-align: center;
}

/* footer/ending stuff */

